.footer_inicio{
    width: 100%;
    height: auto;
    background-color:$bg-footer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .p-principal-footer{
        margin-bottom: 20px;
        font-family:$font-family-text;
        color: $color-text;
    }
    .suscripcion{
        width: 30%;
        margin-bottom: 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #f9f9f9;
        align-self: center;
        font-family:$font-family-text;
        text-transform:lowercase;
        form{
        label{
            margin-bottom: .625rem;
        }
        input[type=email]{
            width: 40%;
            border: 1px solid #000000;
            border-radius: 5px;
        }
        input[type=checkbox]{
            margin-right: .625rem;
            cursor: pointer;
         }
        }
    }
    .hr_footer{
        flex-direction: row-reverse;
        border-bottom: 1px solid #dddddd
    }
    .p_footer{
        margin-top: 1.25rem;
        text-align: center;
        color:$color-text;
    }
    .redes{
        width: 100%;
        flex-direction: row;
        gap: 1rem;
        .instagram{
            img{
                width: 5%;
            }
        }   
            .youtube{
                img{
                    width: 5%;
                }   
        }
            .mail{
                img{
                 width: 5%;
                }
            }
            .whatsapp{
                img{
                    width: 5%;
                }
            }
    
    }
}